.commission {
    display: flex;
    padding: 30px;
}

.commission__infos {
    max-width: 33%;
}


.commission__sub-titulo {
    color: var(--cor-destaque);
    font-size: 38px;
}

.commission__texto {
    color: var(--cor-terciaria);
    font-size: 24px;
    margin: 10px 0;
}

.commission__infos__preco{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.commission__img {
    max-width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
}

.commission__texto_preco {
    color: var(--cor-terciaria);
    font-size: 16px;
}

.commission__aviso_info {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

.commission__aviso_titulo {
    text-align: center;
    font-size: 25px;
    color: var(--cor-destaque);
    margin-top: 10px;
}

.commission__regras {
    display: flex;
    margin-left: 50px;
}

.commission__sub-titulo-regras {
    color: var(--cor-destaque);
    font-size: 36px;
    margin-bottom: 10px;
}
.commission__texto-regras {
    color: var(--cor-terciaria);
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.commission__regras-termos {
    background-color: var(--cor-secundaria);
    width: 50%;
    border-radius: 10px;
}

.commission__sub-titulo-termos {
    color: var(--cor-destaque);
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
}

.commission__texto-termos {
    margin: 10px;
    color: var(--cor-terciaria);
    font-size: 16px;
}

@media (max-width: 1024px) {
    .commission {
        display: block;
    }

    .commission__infos {
        max-width: 100%;
    }

    .commission__infos__preco {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .commission__img {
        max-width: 100%;
        display: flex;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .commission__texto {
        font-size: 22px;
    }

    .commission__texto-regras {
        padding: 3px 3px;
        font-size: 20px;
    }
    
    .commission__regras {
        margin-top: 10px;
        margin-left: 10px;
    }

    .commission__regras-termos {
        width: 100%;
    }

} 

@media (max-width: 480px) {
    .commission {
        display: block;
    }

    .commission__sub-titulo {
        font-size: 30px;
    }

    .commission__infos__preco {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .commission__img {
        max-width: 100%;
        padding-bottom: 10px;
    }

    .commission__regras {
        display: block;
    }
    
    .commission__texto {
        font-size: 24px;
    }
    
    .commission__regras-termos {
        width: 100%;
    }

}