.commission {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.commission__infos {
    margin: 20px;
}

.commission__titulo {
    color: var(--cor-destaque);
    font-size: 48px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.commission__sub-titulo {
    color: var(--cor-destaque);
    font-size: 38px;
}

.commission__texto {
    color: var(--cor-terciaria);
    font-size: 36px;
    margin: 30px 0;

}

.commission__aviso {
    background-color: var(--cor-secundaria);
    color: var(--cor-destaque);
    display: flex;  
    justify-content: center;
    padding: 10px 0;
}

.commission__regras {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.commission__sub-titulo-regras {
    color: var(--cor-destaque);
    font-size: 38px;
    margin: 5px;
}
.commission__texto-regras {
    color: var(--cor-terciaria);
    font-size: 24px;
    padding: 20px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .commission {
        display: block;
    }

    .commission__texto {
        font-size: 22px;
    }

    .commission__texto-regras {
        padding: 3px 3px;
    }
    
    .commission__regras {
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .commission {
        display: block;
    }

    .commission__regras {
        display: block;
    }
    
    .commission__texto {
        font-size: 24px;
    }
    
    .commission__texto-regras {
        padding: 10px 0;
    }
}