:root {
    --cor-de-fundo: #FFD8A9;
    --cor-secundaria: #FDEEDC;
    --cor-terciaria: #864000;
    --cor-destaque: #FF7A00;
    --fonte-pricipal: 'League Spartan', sans-serif;
    --dark:#333;
}

/* Estilos gerais */
.container {
    display: flex;
}

.Content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    margin: 0;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-pricipal);
}

/* Estilos para o menu */
.Main-menu {
    width: 250px;
    background-color: var(--cor-secundaria);
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}


.Menu__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.Menu__nome {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-terciaria);
}

.Menu__titulo {
    margin: 0;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--cor-destaque);
}

.Menu__icon {
    width: 80%;
    height: 80%;
}

.Menu__info {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo);

}

.Menu__botao {
    font-size: 24px;
    text-decoration: none;
    margin: 15px 20px;
    text-align: center;
    color: var(--cor-terciaria);
}

.Menu__contato {
    font-size: 18px;
}

.Menu__redes {
    display: flex;
    justify-content: center;
}


/* Estilos para as imagens */
.Desenhos {
    flex-grow: 1;
    padding: 20px 30px;
    background-color: var(--cor-de-fundo);
    margin: 5px; 
    box-sizing: border-box;
}


.Imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Imagens img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .Main-menu {
        width: 250px;
    }
    .Imagens {
        grid-template-columns: repeat(2, 1fr);
    }

    .Desenhos {
        flex-grow: 1;
        padding: 20px 30px;
        background-color: var(--cor-de-fundo);
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .Content {
        display: flex;
        flex-direction: column;
        height: 0;
        width: auto;   
    }

    .Main-menu {    
        display: flex;
        background-color: var(--cor-secundaria);
        width:auto;
        justify-content: space-between;
    }

    .Menu__icon {
        width: auto;
        height: auto;
    }

    .Menu__caixa {
        margin: 0 10px;
    }

    .Menu__info {
        margin: 0 20px;
    }
    
    .Imagens {
        grid-template-columns: repeat(1, 1fr);
    }

    .Desenhos {
        flex-grow: 1;
        padding: 20px 30px;
        background-color: var(--cor-de-fundo);
        box-sizing: border-box;
    }
}

